/**
  * 元素居中
  * @param xis 居中的轴，默认为x和y，可以用x或y来指定特定方向
  * @param pos 定位方式，默认为absolute
  */
center(xis, pos)
	if !pos
		position absolute
	else
		position pos
	if xis == 'x'
		left 50%
		transform translate(-50%, 0)
	else if xis == 'y'
		top 50%
		transform translate(0, -50%)
	else
		top 50%
		left 50%
		transform translate(-50%, -50%)

rem()
	return 1rem if !arguments[0]
	return (arguments[0] / 24)rem (arguments[1] / 24)rem if (arguments[1])
	return (arguments[0] / 24)rem

em()
	return 1em if !arguments[0]
	return 1px if arguments[0] <= 1
	return (arguments[0] / arguments[1])em if arguments[1]
	return (arguments[0] / 24)em

per()
	return 100% if !arguments[0]
	return (arguments[0] / arguments[1] * 100%) if arguments[1]
	return (arguments[0] / 720 * 100%)
	
circle()
	border-radius 50%

/**
  * 溢出显示省略号
  * @param mut 是否多行
  * @param lines 当为多行时候，指定行数
  */
ellipsis(mut, lines = 2)
	overflow hidden
	text-overflow ellipsis
	if mut
		display -webkit-box
		-webkit-line-clamp lines
		-webkit-box-orient vertical
	else
		white-space nowrap
/**
  * 矩形
  * @param width 宽度
  * @param height 高度，无则为宽度
  */
rect(width, height = width)
	width width
	height height 
/**
  * 三角
  */
triangle(w)
	width 0
	border arguments[0] solid transparent
	if arguments[2] == 'l'
		border-left-color arguments[1]
	else if arguments[2] == 'b'
		border-bottom-color arguments[1]
	else if arguments[2] == 'r'
		border-right-color arguments[1]
	else
		border-top-color arguments[1]

yahei()
	font-family 'Microsoft YaHei', Arial
songti()
	font-family SimSun
	
/*-------------------------------*/
/**
  * 数量查询
  */

/**
  * 等于某个值
  * @param n
  */
exactly(n)
	{block}
	
/**
  * 大于等于某个值
  * @param n
  */
at-least(n)
	{block}
	
/**
  * 小于等于
  * @param n
  */
at-most(n)
	{block}
	
/**
  * 某个范围
  * @param n
  */
between(a, b)
	{block}
/*-------------------------------*/