//-==============================================\\
//-            FileName: head-pc.jade
//-            Title: 电脑端头部
//-            Author: Ody
//-            Company: Weiwend Inc.
//-            Desciption: 
//-==============================================//

//- IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")