extends ./layout/base

block title
	title 网页

block styles
	style.
		h1 {
			color: red;
		}
	+styles('index')

block body
	div(style="text-align:center;margin: 24px 0")
		button.lines-button.arrow_.arrow-left(type="button")
			span.lines
		script.
			[].forEach.call(document.getElementsByClassName('lines-button'), function(ele) {
				ele.onclick = function () {
					this.classList.toggle('close')
				}
			})
	svg(width=600 height=600 viewBox="0 0 250 250")
		circle(cx=35 cy=35 r=35 style="stroke:black;fill:none")
		rect(x=50 y=50 width=200 height=100 style="stroke:blue;fill:none;")
		svg(x=50 y=50 width=200 height=100 viewBox="0 0 125 125" preserveAspectRatio="xMaxYMax meet")
	svg(width=300 height=300)
		rect(width=300 height=50 style="stroke:#f36;fill:rgba(123,123,23,.5)")
	input(type="range")
	iframe(src="image/girl.svg" width="200" height="200")
	img(src="image/girl.svg" width="200" height="200")
	form#form(action="")
		input(type="text")
		div hello
		button 提交

	span.arrow
	ul
		+iterator(14)
			li hello
	ul
		li.hj 带有word-wrap测试中英文混排thisiswithdadfaadfadfadfadoutwordwrap测试中thsi is whorelokdowkdildkosdfadsfasdfadfakdikdos
	input(type="text")
	a(href="" lang) hello
	p
		a(href="http://ww.pdf") pdf
	input(type="checkbox")
	.div
		p hello
		div 01
		div 02
		div 03
			div 000
			p mmmm
		div 04
	script.
		document.getElementById('form').onsubmit = function (e) {
			//- for (var o in this) {
			//- 	console.log(o)
			//- }
			console.log(e)
			console.log(this.elements)
			return false;
		}
block scripts
	+scripts(['ab.js', 'bc'])