// @import './base/reset'
@import './base/base'
@import './base/mixin'
// @import './base/form'
@import './base/layout'
@import './base/loading'


preloader6()
grid()
navicon()
// input_range()
+media(480)
	div
		display block
.div2
	layout3()
layout1('.eles', ('.ele1_' '.ele2_'))

ul
	ellipsis 0
	+between(13, 5, li)
		color red
	background url('../image')
	width em()
p
	doc_icons((pdf ppg) (gif 'nng.png'))
	center 0

.div
	p:only-of-type
		color red
.hj
	width: 200px;
	border: 1px solid #ccc;
	padding: 5px;
	word-wrap break-word
	word-break break-all
	white-space normal
	
//.arrow
	// triangle 10px #f00
//	r-triangle 100px #f00 (b r)