//-=============================================\\
//-            FileName: module.jade
//-            Title: 通用组件
//-            Author: Ody
//-            Company: Weiwend Inc.
//-            Desciption: 
//-=============================================//

//- 选项卡
mixin tab(items)
	ul
		for item in items
			li= item