//-===========================================\\
//-            FileName: base.jade
//-            Title: 基本布局
//-            Author: Ody
//-            Company: Weiwend Inc.
//-            Desciption: 
//-===========================================//

include ../base/mixin
<!DOCTYPE html>
html
	head
		include ../base/head
		block styles
	body
		block body
		block scripts